<div class="container">
    <h2>Doctor Appointment Form</h2>
    <p class="success-message">{{addProductMessage}}</p>

    <form #appointmentForm="ngForm" (ngSubmit)="submit(appointmentForm.value)">
      <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" ngModel required>
      </div>
      <div class="form-group">
        <label for="phone">address:</label>
        <input type="tel" id="address" name="address" ngModel required>
      </div>
      <div class="form-group">
        <label for="date">Appointment Date:</label>
        <input type="date" id="date" name="date" ngModel required>
      </div>
      <div class="form-group">
        <label for="message">Additional Message:</label>
        <textarea id="message" name="message" ngModel rows="4"></textarea>
      </div>
      <button type="submit" [disabled]="appointmentForm.invalid">Submit</button>
    </form>    <p class="success-message">{{addProductMessage}}</p>

  </div>
  