



<header>
	<div class="container2">
	  <h1>{{'Protect Your Health,'|translate}}<br><div class="animated-text head1 text-center">
      <span></span>
    </div></h1>
	  <p>{{'Get the best health insurance plans tailored for you.'|translate}}</p>
	  <a routerLink="h-application" class="btn">{{'Apply Now'|translate}}</a>
	</div>  

  </header>

  <section class="about">
	<div class="container2">
	  <h2>{{'Why Choose Us?'|translate}}</h2>
	  <div class="about-content">
		<div class="about-item">
		  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDMr6zUcRxDCkFZHb6rFN3LKjNiEN8R5Luvw&usqp=CAU" alt="Icon 1">
		  <h3>{{'Comprehensive Coverage'|translate}}</h3>
		  <p>{{'We offer comprehensive health insurance coverage to ensure your peace of mind.'|translate}}</p>
		</div>
		<div class="about-item">
		  <img src="https://www.livemint.com/lm-img/img/2023/12/13/600x338/ccccccc_1702470565623_1702470578221.png" alt="Icon 2">
		  <h3>{{'Affordable Plans'|translate}}</h3>
		  <p>{{'Our plans are designed to be affordable, making quality healthcare accessible to everyone.'|translate}}</p>
		</div>
		<div class="about-item">
		  <img src="https://img.etimg.com/thumb/width-1200,height-1200,imgsize-132961,resizemode-75,msid-48031279/wealth/insure/how-to-pick-the-best-health-insurance-in-5-easy-steps.jpg" alt="Icon 3">
		  <h3>{{'Easy Application'|translate}}</h3>
		  <p>{{'Our online application process is simple and hassle-free, saving you time and effort.'|translate}}</p>
		</div>
	  </div>
	</div>
  </section>

  <section class="hero">
	<div class="container4">
	  <div class="hero-content">
		<h2>{{'Welcome to Our'|translate}} <div class="animated-text1 head1 text-center">
			<span class="highlight"></span></div></h2>
		<p>{{'Your one-stop destination for all your medical needs.'|translate}}</p>
		<a routerLink="/store" class="btn">{{'Shop Now'|translate}}</a>
	  </div>  

	</div>
  </section>
  
<div class="container">
   <h2>{{'Based On Symptoms'|translate}}</h2>
    <p>{{'Providing the Diet, Exersise, Medication Plan'|translate}}</p>
  <a routerLink="/skin"> <img class="styled-img" src="https://img.chemie.de/Portal/News/65a8fd37044ee_oxRiYp0_n.png?tr=w-1792,h-896,cm-extract,x-0,y-32:n-news_teaser" alt="">
  </a> 
  </div>
  
  <!-- <div class="container">
    <h2>{{'Hair Check'|translate}}</h2>
    <p>{{'Identifying Scalp and Hair Disorders'|translate}}</p>
    <a routerLink="/hair"> <img class="styled-img" src="https://www.shutterstock.com/image-photo/woman-visiting-dermatologist-clinic-600nw-640105492.jpg" alt="">
  </a> 
  </div> -->
  
  <!-- <div class="container">
    <h2>{{'Ear Check'|translate}}</h2>
    <p>{{'Detecting Ear Disorders and Conditions'|translate}}</p>
    <a routerLink="/ear">  <img class="styled-img" src="https://img.freepik.com/premium-vector/deafness-hearing-loss-doctors-check-health-ear-hearing-organ-deaf-patient-with-hear-problem-visit-doctor-audiologist-treatment-medical-examination-test-ears-big-ear-with-hearing-aid_458444-586.jpg" alt="">
  </a> 
  </div>
  <div class="container">
    <h2>{{'x-ray '|translate}}</h2>
    <p>{{'Utilizing computer vision for precise and early disease detection through X-ray analysis.'|translate}}</p>
    <a routerLink="/ear">  <img class="styled-img" src="https://www.singhealth.com.sg/sites/shcommonassets/Assets/conditions-treatments/images/seo/chest-radiograph-ct.jpg" alt="">
  </a> 
  </div>

  <div class="container">
    <h2>{{'parameter based disease detection'|translate}}</h2>
	<a class="keshav" href="http://127.0.0.1:8000"> <img class="styled-img" src="https://maven.pet/all-about-pets/wp-content/uploads/2023/09/maven_white_paper_early_disease_the_solution.jpg" alt="">
  </a> 
  </div>
  <div class="container">
    <h2>{{'know about disease'|translate}}</h2>
	<a class="keshav" routerLink="/disease"> <img class="styled-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4FzJsbcwoCiPvWCEbuFr3ur-CLioERiJyemN4m2GE5w&s" alt="">
  </a> 
  </div> -->

