<!-- camera.component.html -->



<div class="wrapper">
  <div class="center-line">
    <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
  </div>
  <div class="row row-1">
    <section>
      <i class="icon fa-duotone fa-check"></i>
      <div class="details">
        <span class="title">Title of Section 1</span>
        <span>1st Jan 2021</span>
      </div>
      <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      <div class="bottom">
        <a href="#">Read more</a>
        <i>- Someone famous</i>
      </div>
    </section>
  </div>
  <div class="row row-2">
    <section>
      <i class="icon fas fa-star"></i>
      <div class="details">
        <span class="title">Title of Section 2</span>
        <span>2nd Jan 2021</span>
      </div>
      <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      <div class="bottom">
        <a href="#">Read more</a>
        <i>- Someone famous</i>
      </div>
    </section>
  </div>
  <div class="row row-1">
    <section>
      <i class="icon fas fa-rocket"></i>
      <div class="details">
        <span class="title">Title of Section 3</span>
        <span>3rd Jan 2021</span>
      </div>
      
      <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      <div class="bottom">
        <a href="#">Read more</a>
        <i>- Someone famous</i>
      </div>
    </section>
  </div>
  <div class="row row-2">
    <section>
      <i class="icon fas fa-globe"></i>
      <div class="details">
        <span class="title">Title of Section 4</span>
        <span>4th Jan 2021</span>
      </div>
      <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      <div class="bottom">
        <a href="#">Read more</a>
        <i>- Someone famous</i>
      </div>
    </section>
  </div>
  <div class="row row-1">
    <section>
      <i class="icon fas fa-paper-plane"></i>
      <div class="details">
        <span class="title">Title of Section 5</span>
        <span>5th Jan 2021</span>
      </div>
      <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      <div class="bottom">
        <a href="#">Read more</a>
        <i>- Someone famous</i>
      </div>
    </section>
  </div>
  <div class="row row-2">
    <section>
      <i class="icon fas fa-map-marker-alt"></i>
      <div class="details">
        <span class="title">Title of Section 6</span>
        <span>6th Jan 2021</span>
      </div>
      <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      <div class="bottom">
        <a href="#">Read more</a>
        <i>- Someone famous</i>
      </div>
    </section>
  </div>
</div>

<div class="container">

  <webcam
    [trigger]="trigger"
    [height]="480"
    [width]="640"
    [allowCameraSwitch]="allowCameraSwitch"
    (imageCapture)="handleImage($event)"
    name="image"
    >
  </webcam>
  <button class="capture-photo-btn" (click)="triggerSnapshot()">Take a photo</button>
  <a routerLink="/additional"><button class="capture-photo-btn" >get additional discount</button></a>

</div>
<form class="personal-info-form" #personalInfoForm="ngForm" (ngSubmit)="submit(personalInfoForm.value)">
  <p class="success-message">{{addProductMessage}}</p>

  <h2>Personal Information</h2>
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" id="fullName" placeholder="enter name of patient" name="fullName" ngModel required>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" id="dob" name="dob" ngModel required>
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select id="gender" name="gender" ngModel required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="age">age</label>
    <input type="age" id="age" placeholder="enter age" name="age" ngModel required>
  </div>
  <div class="form-group">
    <label for="fullName">country of origin</label>
    <input type="text" id="fullName" placeholder="enter name of country" name="country" ngModel required>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <textarea id="address" name="address" placeholder="enter permanent address" ngModel required></textarea>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="tel" id="phone" name="phone" placeholder="enter phone number" ngModel required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="enter email address" ngModel required>
  </div>
  <div class="form-group">
    <label for="area">ear impacted area</label>
    <input type="text" id="impact" name="impact" placeholder="enter information about impacted area" ngModel required>
  </div>
  <!-- Medical History -->
  <h2>Medical History</h2>
  <div class="form-group">
    <label for="preExistingConditions">Pre-existing Medical Conditions</label>
    <textarea id="preExistingConditions" name="preExistingConditions" ngModel></textarea>
  </div>
  <div class="form-group">
    <label for="previousSurgeries">Previous Surgeries or Hospitalizations</label>
    <textarea id="previousSurgeries" name="previousSurgeries" ngModel></textarea>
  </div>
  <div class="form-group">
    <label for="currentMedications">Current Medications</label>
    <textarea id="currentMedications" name="currentMedications" ngModel></textarea>
  </div>
  <!-- Add more fields for other medical history information as needed -->
  
  <!-- Health Insurance History -->
  <h2>Health Insurance History</h2>
  <div class="form-group">
    <label for="existingCoverage">Existing Health Insurance Coverage</label>
    <textarea id="existingCoverage" name="existingCoverage" ngModel></textarea>
  </div>
  <div class="form-group">
    <label for="previousPolicyNumbers">Previous Insurance Policy Numbers</label>
    <input type="text" id="previousPolicyNumbers" name="previousPolicyNumbers" ngModel>
  </div>
  <div class="form-group">
    <label for="cancer">any ear cancer?</label>
    <select id="cancer" name="cancer" ngModel required>
      <option value="yes">yes</option>
      <option value="no">no</option>
    </select>
  </div>
  <div class="form-group">
    <label for="bleeding">is in ear bleeding ?</label>
    <select id="bleeding" name="bleeding" ngModel required>
      <option value="yes">yes</option>
      <option value="no">no</option>
    </select>
  </div>
  <div class="from-group">
  <h2>upload ear image</h2>

  <!-- Personal Information -->
  <input id="file-upload" type="file" name="image" accept=".jpg, .jpeg, .png"></div>
  <br>

  <button type="submit">Submit</button>
  <p class="success-message">{{addProductMessage}}</p>

</form>
